 
@{
}
<h1 class="text-dark">Help Page</h1>



<p>
	<a class="nav-link text-dark" asp-area="Help" asp-controller="Home" asp-action="Index">Home</a>
	<a class="nav-link text-dark" asp-area="Help" asp-controller="Tutorial" asp-action="Page1">Tutorial</a>

</p>

<h3>Tutorial-Page 3</h3>
<p>Here is the Third thing you need to know about my website</p>

<button>
	<a type="button" class="nav-link text-dark" asp-area="Help" asp-controller="Tutorial" asp-action="Page2">Prev</a>
</button>

