@using Microsoft.AspNetCore.Identity
@using CrackersPROJ.Models.DomainModels
@inject SignInManager<User> signInManager
@{
	Layout = "_Layout.cshtml";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CrackersPROJ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item active">
                        <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                   
                </ul>
				<div class="d-flex">
                    <ul class="navbar-nav">

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a asp-action="ChangePassword" asp-controller="Account"
                                asp-area="">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                                    <input type="submit" value="Log Out" class="btn btn-outline-dark" />
                                    <span class="text-dark">@User.Identity.Name</span>
                                </form>
                            </li>
                        }
                        else
                        {
                            //get current action
                            var action = ViewContext.RouteData.Values["action"]?.ToString();

                            //anonymouse user
                            <li class="nav-item @Nav.Active("Register", action)">
                                <a asp-action="Register" asp-controller="Account"
                                   asp-area="" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account"
                                   asp-area="" class="btn btn-outline-dark">Log in</a>
                            </li>
                        }


                    <li class="nav-item active">
                        <a class="nav-link text-dark " asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                    </li>
                        <li class="nav-item active">
                            <a class="nav-link text-dark " asp-area="" asp-controller="ShoppingCart" asp-action="ViewCart">View Cart</a>
                        </li>
                    </ul>
				</div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>