@model Product
@{
	ViewBag.Title = "Delete Page";
}
<h2>Confirm Deletion</h2>
<h3>@Model.ProductName</h3>
<form asp-action="Delete" method="post">

	<input type="hidden" asp-for="ProductID" />
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-controller="product" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>