@model ExerciseLog
@{
	ViewBag.Title = "Delete Movie";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Workout</h3>
<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="ExerciseId" />
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-controller="History" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
