@model WorkoutLog
@{
	ViewBag.Title = "Add Teacher";
}

<h1 class="display-4">Add Workout Log</h1>

<form asp-action="Add" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="mb-3">
		<label asp-for="Date" class="form-label"></label>
		<input asp-for="Date" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="Notes" class="form-label"></label>
		<input asp-for="Notes" class="form-control" />
	</div>

	

	<button type="submit" class="btn btn-dark">Save</button>
	<a asp-action="Index" asp-controller="AddWorkout" class="btn btn-outline-dark">Cancel</a>
</form>