@{
    ViewData["Title"] = "Home Page";
}




<div class="container">
    <img src="https://cdnpt01.viewbug.com/media/mediafiles/2019/03/04/83659692_large1300.jpg" alt="Weights" style="width:100%;">
    
    <div class="bottom-right">Reach Your Potential</div>

    <div class="bottom">Whether your going for your PR or training for a marathon, were here to make some progress.</div>

    <button type="button" class="btn btn-light bottomb">Sign Up</button>

    <div class="bottoml">Already a memeber?<a href="#">LOG IN</a></div>

</div>

