@model TripViewModel
<form asp-action="Add" method="post">
	<div class="mb-3">
		<label asp-for="Trip.Activity1" class="form-label">Activity 1</label>
		<label asp-for="Trip.Activity1" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="Trip.Activity2" class="form-label">Activity 2</label>
		<label asp-for="Trip.Activity2" class="form-label" />
	</div>

	<div class="mb-3">
		<label asp-for="Trip.Activity3" class="form-label">Activity 3</label>
		<label asp-for="Trip.Activity3" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="Trip.EndDate" class="form-label">End Date</label>
		<label asp-for="Trip.EndDate" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary">Save Trip</button>
</form>
