@{
    ViewData["Title"] = "Home Page";
}

<h1>SalesOrder Database Application</h1>
<h4>A perpetual Database Application</h4>
<h2>Version01</h2>

<table class="table">
    <tbody>
        <tr>
           
            <td>
                <a asp-controller="Product" asp-action="Products"  class="btn btn-outline-primary">Manage Products</a>

            </td> 
           
           
        </tr>
        <tr>
            <td>Manage Categories</td>
           
            
        </tr>
        <tr>
            <td>Manage Vendors</td>
           
            
        </tr>
        <tr>
            
            <td>Manage Customers</td>


        </tr>

        <tr>
           
            <td>Manage Employees</td>


        </tr>

        <tr>
           
            <td>Manage Orders</td>


        </tr>
    </tbody>
    </table>
